{% extends "layout.html" %}

{% block title %}
    Compare Normalised Statistics
{% endblock %}

{% block main %}
    
<div class="containter-fluid">
    <form action="/compare" method="post" id="compForm">
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-sm-4" style="padding-bottom: 100px;">
                <div class="bs-example">
                    <h2>Country 1: </h2>
                    <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false" name="country1" style="width: 150%">
                </div>
            </div>
            <div class="col-sm-4" style="padding-bottom: 100px;">
                <div class="bs-example">
                    <h2>Country 2: </h2>
                    <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false" name="country2" style="width: 150%">
                </div>
            </div>
            <div class="col-sm-4" style="padding-top: 40px;" style="padding-bottom: 100px;">
                <button class="btn btn-primary" type="submit">Compare</button>
            </div>
        </div>
    </form>
</div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            // Defining the local dataset
            var countries = [{% for item in countryList %} "{{item}}", {% endfor %}];
    
            // Constructing the suggestion engine
            var countries = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                local: countries
            });
            
            // Initializing the typeahead
            $('.typeahead').typeahead({
                hint: true,
                highlight: true, /* Enable substring highlighting */
                minLength: 1 /* Specify minimum characters required for showing result */
            },
            {
                name: 'countries',
                source: countries
            });
        });  
    </script>
        
    <hr>

    <p>On this page we compare two countries head to head</p>
    <p>On the radar chart (top left) we take the most important KPIs and index the smallest country of the two relative to the biggest of the two.
    For each KPI one country will be at 100%, while the other country is at the number between 0 and 100%. So if we are comparing two countries where one has 200 deaths and the other 50 deaths, the biggest will be at 100 and the smallest at 25
    </p>
    <p>
        The second chart displays the average number of deaths over the last 7 days. The charts start on the first day that country reported more than 100 deaths.
    </p>

    <div class="row mb-4">
        <div class="col-sm-6">
            <h3>Comparing {{ country1 }} vs {{ country2 }} current numbers</h3>
            <canvas id="chartjs-radar"></canvas>
        </div>
        <div class="col-sm-6">
            <h3>Avg (last 7 days) number of deaths since the total number of deaths reached 100</h3>
            <canvas id="chartjs-line"></canvas>
        </div>
    </div>

    <script>
    new Chart(document.getElementById("chartjs-radar"),
        {"type":"radar",
        "data":
            {"labels":["Total Cases","Total Deaths","Total Recovered","Cases Per 1 MLN","Deaths Per 1 MLN","Tests Per 1 MLN"],
            "datasets":[
                {"label":"Statistics for {{ country1 }}",
                "data":[{% for item in KPIcountry1 %}
                     "{{item}}",
                    {% endfor %}],
                "fill":true,
                "backgroundColor":"rgba(224,17,95,0.2)",
                "borderColor":"rgba(224,17,95,0.8)",
                "pointBackgroundColor":"rgb(224,17,95)",
                "pointBorderColor":"#fff",
                "pointHoverBackgroundColor":"#fff",
                "pointHoverBorderColor":"rgb(224,17,95)"},
    
                {"label":"Statistics for {{ country2 }}",
                "data":[{% for item in KPIcountry2 %}
                     "{{item}}",
                    {% endfor %}],
                "fill":true,
                "backgroundColor":"rgba(75,192,192, 0.2)",
                "borderColor":"rgba(75,192,192,0.8)",
                "pointBackgroundColor":"rgb(75,192,192)",
                "pointBorderColor":"#fff",
                "pointHoverBackgroundColor":"#fff",
                "pointHoverBorderColor":"rgb(75,192,192)"}
                ]
            },
        "options":
            {"elements":
                {"line":
                    {"tension":0,
                    "borderWidth":3}
                }
            }
        }
    );
    </script>
    
    <script>
    new Chart(document.getElementById("chartjs-line"),
        {"type":"line",
        "data":{
            "labels":[{% for item in labels %}
                     "{{item}}",
                    {% endfor %}],
            "datasets":[
                {"label":"{{ country1 }}",
                "data":[{% for item in avgdeaths %}
                     "{{item}}",
                    {% endfor %}],
                "fill":false,
                "borderColor":"rgba(224,17,95,0.8)",
                "lineTension":0.1},

                {"label":"{{ country2 }}",
                "data":[{% for item in avgdeaths2 %}
                     "{{item}}",
                    {% endfor %}],
                "fill":false,
                "borderColor":"rgba(75,192,192,0.8)",
                "lineTension":0.1}
            ]
        },
        options: {
                scales: {
                xAxes: [{
                    ticks: {}
                }],
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                    return Intl.NumberFormat("en-US").format((value));
                    }
                  }
                }]
                }
            }
        }
    );
    </script>

    <hr>

    <div class="row mb-4">
        <h3>Comparing {{ country1 }} vs {{ country2 }} historical data</h3>
    </div>

    <div class="row mb-4">
        <div class="col-sm-6">
            <canvas id="myChart2"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <hr>

    <div class="row mb-4">    
        <div class="col-sm-6">
            <canvas id="myChart3"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="myChart4"></canvas>
        </div>
    </div>
    
    <script>
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = true;
      
        // define the chart data
        var chartData = {
            labels : [{% for item in dates %}
                     "{{item}}",
                    {% endfor %}],
            datasets : [{
                label: 'Deaths per 1 mln {{ country1 }}',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(224,17,95,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in deaths %}
                        {{item}},
                      {% endfor %}],
                spanGaps: false
            },
            {
                label: 'Deaths per 1 mln {{ country2 }}',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in deaths2 %}
                        {{item}},
                      {% endfor %}],
                spanGaps: false
            }]      
        }
      
        // get chart canvas
        var ctx = document.getElementById("myChart").getContext("2d");
      
        // create the chart using the chart canvas
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                xAxes: [{
                    ticks: {}
                }],
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                    return Intl.NumberFormat("en-US").format((value));
                    }
                  }
                }]
                }
            }
        });
    </script>
  
    <script>
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = true;
      
        // define the chart data
        var chartData2 = {
            labels : [{% for item in dates %}
                     "{{item}}",
                    {% endfor %}],
            datasets : [{
                label: 'Cases per 1 mln {{ country1 }}',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(224,17,95,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in cases %}
                        {{item}},
                      {% endfor %}],
                spanGaps: false
            },
            {
                label: 'Cases per 1 mln {{ country2 }}',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in cases2 %}
                        {{item}},
                      {% endfor %}],
                spanGaps: false
            }]    
        }
      
        // get chart canvas
        var ctx2 = document.getElementById("myChart2").getContext("2d");
      
        // create the chart using the chart canvas
        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: chartData2,
            options: {
                scales: {
                    xAxes: [{
                    ticks: {}
                    }],
                    yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function(value, index, values) {
                        return Intl.NumberFormat("en-US").format((value));
                        }
                    }
                    }]
                }
            }
        });
    </script>

    <script>
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = true;
  
        // define the chart data
        var chartData3 = {
        labels : [{% for item in dates %}
                 "{{item}}",
                {% endfor %}],
        datasets : [{
            label: 'New Cases for {{ country1 }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(224,17,95,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in newcases %}
                    {{item}},
                  {% endfor %}],
            spanGaps: false
            },
            {
            label: 'New Cases for {{ country2 }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in newcases2 %}
                    {{item}},
                  {% endfor %}],
            spanGaps: false
            }]          
        }
  
    // get chart canvas
    var ctx3 = document.getElementById("myChart3").getContext("2d");
  
    // create the chart using the chart canvas
    var myChart3 = new Chart(ctx3, {
        type: 'bar',
        data: chartData3,
        options: {
            scales: {
                xAxes: [{
                  ticks: {}
                }],
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                    return Intl.NumberFormat("en-US").format((value));
                    }
                  }
                }]
            }
        }
    });
</script>

<script>
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = true;
  
    // define the chart data
    var chartData4 = {
        labels : [{% for item in dates %}
                 "{{item}}",
                {% endfor %}],
        datasets : [{
            label: 'New Deaths for {{ country1 }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(224,17,95,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in newdeaths %}
                    {{item}},
                  {% endfor %}],
            spanGaps: false
        },
        {
            label: 'New Deaths for {{ country2 }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in newdeaths2 %}
                    {{item}},
                  {% endfor %}],
            spanGaps: false
        }]      
    }
  
    // get chart canvas
    var ctx4 = document.getElementById("myChart4").getContext("2d");
  
    // create the chart using the chart canvas
    var myChart4 = new Chart(ctx4, {
        type: 'bar',
        data: chartData4,
        options: {
            scales: {
                xAxes: [{
                  ticks: {}
                }],
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    callback: function(value, index, values) {
                    return Intl.NumberFormat("en-US").format((value));
                    }
                  }
                }]
            }
        }
    });
</script>

{% endblock %}

