{% extends "layout.html" %}

{% block title %}
    Country Page for {{ content.name }}
{% endblock %}

{% block main %}
    
    <div class="row mb-4">
        <H2>Select another country:</H2>
        <div class="col-sm-12">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select your country
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for country in countryList %}
                    <a class="dropdown-item" href="{{ url_for('country', country=country) }}">{{ country }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row mb-4">
        <H3>Today's statistics for {{ content.name }}</H3>
        <div class="col-sm-12">
            <ul>
              <li>Cases: {{ content.todayCases }}</li>
              <li>Deaths: {{ content.todayDeaths }}</li>
            </ul>  
        </div>
    </div>
        
    <div class="row mb-4">
        <div class="col-sm">
            <H3>Totals</H3>
            <ul>
                <li>Cases: {{ content.cases }}</li>
                <li>Deaths: {{ content.deaths }}</li>
                <li>Recovered: {{ content.recovered }}</li>
                <li>Active: {{ content.active }}</li>
                <li>Critical: {{ content.critical }}</li>
            </ul>  
        </div>
        
        <div class="col-sm">
            <H3>Normalised statistics</H3>
            <ul>
              <li>Cases per 1 million: {{ content.casesPerOneMillion }}</li>
              <li>Deaths per 1 million: {{ content.deathsPerOneMillion }}</li>
              <li>Tests per 1 million: {{ content.testsPerOneMillion }}</li>
          </ul>  
        </div>
    </div>

    <hr>
    
    <div class="row mb-4">
      <div class="col-sm-6">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col-sm-6">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
    
    <script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = true;
    
      // define the chart data
      var chartData = {
        labels : [{% for item in dates %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: 'Total official deaths',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(224,17,95,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in deaths %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
            },
            {
            label: 'Total official cases',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in cases %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
            }]
            
        }
    
      // get chart canvas
      var ctx = document.getElementById("myChart").getContext("2d");
    
      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
      });
    </script>

<script>
  // Global parameters:
  // do not resize the chart canvas when its container does (keep at 600x400px)
  Chart.defaults.global.responsive = true;

  // define the chart data
  var chartData2 = {
    labels : [{% for item in dates %}
               "{{item}}",
              {% endfor %}],
    datasets : [{
        label: 'New deaths',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(224,17,95,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in newdeaths %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
        },
        {
        label: 'New cases',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data : [{% for item in newcases %}
                  {{item}},
                {% endfor %}],
        spanGaps: false
        }]
        
    }

  // get chart canvas
  var ctx2 = document.getElementById("myChart2").getContext("2d");

  // create the chart using the chart canvas
  var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: chartData2,
  });
</script>
    
{% endblock %}

