{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block main %}
    <p>
        Rebuilding the Euromona charts
    </p>

    <div class="row mb-4">
        <div class="col-sm">
          <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
          <canvas id="myChart2"></canvas>
        </div>
    </div>
      
      <script>
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = true;
      
        // define the chart data
        var chartData = {
          labels : [{% for item in dates %}
                     "{{item}}",
                    {% endfor %}],
          datasets : [{
              label: 'Total official deaths',
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba(224,17,95,0.4)",
              borderColor: "rgba(75,192,192,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data : [{% for item in deaths %}
                        {{item}},
                      {% endfor %}],
              spanGaps: false
              },
              {
              label: 'Baseline',
              fill: true,
              lineTension: 0.1,
              backgroundColor: "rgba(75,192,192,0.4)",
              borderColor: "rgba(75,192,192,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data : [{% for item in baseline %}
                        {{item}},
                      {% endfor %}],
              spanGaps: false
              }]
              
          }
      
        // get chart canvas
        var ctx = document.getElementById("myChart").getContext("2d");
      
        // create the chart using the chart canvas
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: chartData,
        });
      </script>
  
  <script>
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = true;
  
    // define the chart data
    var chartData2 = {
      labels : [{% for item in dates20 %}
                 "{{item}}",
                {% endfor %}],
      datasets : [{
          label: 'Excess Deaths in Europe',
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(224,17,95,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : [{% for item in excess20 %}
                    {{item}},
                  {% endfor %}],
          spanGaps: false
          },
          {
          label: 'Offical number of Corona deaths',
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : [{% for item in corona20 %}
                    {{item}},
                  {% endfor %}],
          spanGaps: false
          }]
          
      }
  
    // get chart canvas
    var ctx2 = document.getElementById("myChart2").getContext("2d");
  
    // create the chart using the chart canvas
    var myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: chartData2,
    });
  </script>
      
      
{% endblock %}
