{% extends "layout.html" %}

{% block title %}
    History for:
{% endblock %}

{% block main %}


<body>

<div class="row mb-4">
    <canvas id="myChart" width="200" height="100"></canvas>
</div>


<script>

// het is de bedoeling dat de labels worden gevuld met de list dates en de data met de list content

labels = [1,2,3,4,5]
data = [1,2,3,4,5]

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '# of deaths',
            data: data,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


</body>
{% endblock %}

