{% extends "layout.html" %}

{% block title %}
    Top 20 countries globally
{% endblock %}

{% block main %}


<body>

	<h1>Snapshot of the most impacted countries</h1>
	<p>The bubble chart below displays the top 25 countries (as based on the absolute number of deaths) along four axis</p>
	<ul>
		<li>The color ranks countries based on the absolute deaths from high (red) to low (green)</li>
		<li>The y axis represents the number of cases per 1 mln inhabitants</li>
		<li>The x axis represents the number of tests per 1 mln inhabitants</li>
		<li>The size of the bubble represents the number of deaths per 100 thousand inhabitants</li>
	</ul>
	<p>This chart has proven to be an accelent snap shot to identify which countries are doing well an which dont. 
	</p>
	<hr>
	<canvas id="bubble-chart" width="800" height="600"></canvas>

<script>
	new Chart(document.getElementById("bubble-chart"), {
		type: 'bubble',
		data: {
		  datasets: [
			{% for country in countries %}
			{
			  label: ['{{ country.Name }}'],
			  backgroundColor: "{{ country.Color }}",
			  borderColor: "rgba(60,186,159,1)",
			  data: [{
				x: {{ country.TestsOneMLN }},
				y: {{ country.CasesOneMLN }},
				r: {{ country.DeathsOneMLN }}/10
			  }]
			},
            {% endfor %}
		  ]
		},
		options: {
		  title: {
			display: true,
			text: 'Size of the bubble represents the number of Deaths per 100,000'
		  }, scales: {
			yAxes: [{ 
			  scaleLabel: {
				display: true,
				labelString: "Cases / One Million"
			  },
			  ticks: {
				beginAtZero: true,
				callback: function(value, index, values) {
					return Intl.NumberFormat("en-US").format((value));
					}
				}
			}],
			xAxes: [{ 
			  scaleLabel: {
				display: true,
				labelString: "Tests / One Million"
			  },
			  ticks: {
				beginAtZero: true,
				callback: function(value, index, values) {
					return Intl.NumberFormat("en-US").format((value));
					}
				}
			}]
		  }
		}
	});
</script>
</body>
{% endblock %}
